.gridWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 32px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 24px;
  width: 100%;
  list-style: none;
  padding: 0;
}

@media only screen and (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
    gap: 24px;
  }
}
@media only screen and (min-width: 1440px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
    gap: 32px;
  }
}
