.wrapper {
  /* justify-content: flex-start;
  align-items: flex-start;
  gap: 16px;
  display: flex; */
  position: relative;
  display: flex;
  flex-direction: column;
  /* align-items: center; */
  width: 100%;
}

.swiper {
  width: 100%;
}
.allButton {
  justify-content: flex-end;
  gap: 16px;
  display: flex;
  margin-top: 40px;
}

.navButton {
  background: #c5e1a5;
  border: none;
  font-size: 24px;
  cursor: pointer;
  z-index: 10;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  transition: background 0.3s;
}
.disabled {
  background: #e5e7eb;
  color: #9ca3af;
  cursor: not-allowed;
}
.navButton:hover {
  background-color: #eff6ff;
}

@media only screen and (min-width: 768px) {
  .allButton {
    position: absolute;
    top: 20%;
    left: -25px;
    right: -25px;
    display: flex;
    justify-content: space-between;
  }
  .navButton {
    background: #c5e1a5;
    border: none;
    font-size: 24px;
    cursor: pointer;
    z-index: 10;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
    transition: background 0.3s;
  }
}
@media only screen and (min-width: 1440px) {
}
