.messagenoinfo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 32px;
    width: 335px;
    height: 181px;
}

.messagenoinfotext {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    gap: 0px;
    width: 303px;
    height: 81px;
}

.messagenoinfobutton {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: row;
    gap: 16px;
    width: 303px;
    height: 36px;
}



@media (min-width: 768px) {
    .messagenoinfo {
        display: flex;
        flex-direction: column;
        gap: 12px;
        align-items: center;

        gap: 32px;
        border-radius: 16px;
        padding: 24px 0px;
        width: 753px;
        height: 154px;
        background: #d6eac0;
    }

    .messagenoinfobutton {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 8px;
        border: 1px solid #c5e1a5;
        border-radius: 100px;
        padding: 6px 12px;
        width: 157px;
        height: 36px;
        background: #c5e1a5;
    }

    .messagenoinfobutton:hover {
        background-color: #9db484;
    }
}