.card {
  display: flex;
  flex-direction: column;
  border-radius: 16px;
  max-width: 100%;
}

.info {
display: flex;
justify-content: space-between;
}
.imageWrapper {
  width: 100%;
height: 412px;
  border-radius: 16px;
  overflow: hidden;
  margin-bottom: 16px;
}

.image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
}
.text {
  display: flex;
align-items: flex-start;
justify-content: space-between;
flex-direction: column;
width: 200px;
height: 72px;
}

.name {
  font-size: 16px;
  font-weight: 600;
  margin-bottom: 6px;
  color: #1b1b1b;
  width: 200px;
}

.price {
display: flex;
align-items: flex-start;
font-weight: 600;
font-size: 16px;
line-height: 1.5;
color: #000;
}

.meta {
  display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: row;
gap: 12px;
max-width: 200px;
padding-bottom: 16px;
}
.icon {
  width: 16px;
  height: 16px;
}
.detailsBtn {
  display: flex;
align-items: center;
justify-content: center;
flex-direction: row;
gap: 8px;
border: 1px solid rgba(255, 255, 255, 0);
border-radius: 100px;
padding: 4px 10px;
width: 100%;
height: 40px;
background-color: rgba(0, 0, 0, 0.05);
font-weight: 500;
font-size: 16px;
line-height: 1.5;
color: #000;
text-align: center;
}


@media (min-width: 375px) {
  .imageWrapper {
    height: 240px;
  }
}

@media (min-width: 768px) {
  .card {
    width: 336px;
  }

  .imageWrapper {
 height: 414px;
  }

  .name {
    font-size: 18px;
  }
}

@media (min-width: 1440px) {
  .card {
width: 304px;
  }

  .imageWrapper {
   height: 374px;
  }

  .name {
    font-size: 20px;
  }

  .price {
    font-size: 20px;
  }
}
