.section {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding: 64px 20px;
}

.section {
  max-width: 375px;
  padding: 64px 20px;
}

@media screen and (min-width: 768px) {
  .section {
    max-width: 768px;
    padding: 64px 32px;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    max-width: 1440px;
    padding: 112px 64px;
  }
}