.section {
  padding: 64px 20px;
}

@media screen and (min-width: 768px) {
  .section {
    padding: 64px 32px;
  }
}

@media screen and (min-width: 1440px) {
  .section {
    padding: 112px 64px;
  }
}
