.container {
    display: flex;
    gap: 4rem;
    padding: 2rem 0;
}

.col {
    flex: 1;
}

.imageWrap {
    width: 100%;
    height: 680px;
    position: relative;
    background: #EEEDE7;
    overflow: hidden;
    border-radius: 16px;
}

.image {
    object-fit: cover;
}


.menuList {
    list-style: none;
    padding: 0;
    margin: 0 0 16px 0;
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 14px;
    line-height: 150%;
}

.menuLink {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #000;
    text-decoration: none;
}

.menuLink:hover {
    text-decoration: underline;
}

.menuCurrent {
    font-weight: 600;
    font-size: 14px;
    line-height: 150%;
    color: #000;
}

.right   {
    color: #000;
    stroke-width: 0.67px;
    
}

.header {
    font-weight: 400;
    font-size: 40px;
    line-height: 120%;
    letter-spacing: -0.01em;
    margin: 0 0 24px 0;
}

.priceContent {
    display: flex;
    align-items: center;
    gap: 16px;
    margin-bottom: 24px;
}

.price {
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -0.01em;
    margin: 0;
}
.divider {
    width:1px; 
    height: 28px;
    stroke-width: 1px;
    background-color: rgba(0, 0, 0, 0.2);
}

.rating {
    display: flex;
    align-items: center;
    gap: 8px;
}

.stars {
    color: #000;
    font-size: 14px;
    letter-spacing: 2px;
}

.feedback {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    color: #000;
}

.about {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 24px;
}

.sizeSelector {
    margin-bottom: 24px;
}

.sizeLabel {
    display: block;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin-bottom: 8px;
}

.sizeSelect {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    padding: 8px;
    width: 640px;
    height: 40px;
    cursor: pointer;
    background:none;
    appearance: none;

}
.selectIcon{
    background: rgba(0, 0, 0, 0.6);
}

.buttonGroup {
    display: flex;
    gap: 16px;
    margin-bottom: 12px;
}

.btn1 {
    flex: 1;
    background: #C5E1A5;
    border: 1px solid #C5E1A5;
    border-radius: 100px;
    padding: 6px 12px;
    height: 36px;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.2s;
}

.btn1:hover {
    background: #9DB484;
    border-color: #4E5A42;
}

.btn1:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(197, 225, 165, 0.4);
}

.btn1:active {
    background-color: #3b4331;
    color: #fff;
}


.btn2 {
    width: 100%;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
    border-radius: 100px;
    padding: 6px 12px;
    height: 36px;
    font-size: 14px;
    cursor: pointer;
    margin-bottom: 16px;
}
.btn2:hover {
    background-color: rgba(0, 0, 0, 0.15);
    border: 1px solid rgba(0, 0, 0, 0.5);
}

.btn2:active {
    background-color: rgba(0, 0, 0, 0.5);
    border: 1px solid rgba(255, 255, 255, 0);
    color: #fff;
}

.quantityValue {
    border: 1px solid rgba(0, 0, 0, 0.15);
    text-align: center;
    font-size: 14px;
    display: flex;
    align-items: center;
    background:none;
    cursor: pointer;
    border-radius: 16px;
    padding: 8px;
    width: 64px;
    height: 40px;
}

.quantityBtn {
    width: 28px;
    height: 28px;
    border: none;
    background: transparent;
    font-size: 18px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}


.deliveryText {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    margin: 0 0 32px 0;
}
.characteristics {
    margin-top: 32px;
}
.charList {
    font-family: var(--font-inter), sans-serif;
    list-style: disc;
    font-weight: 370;
    padding-left: 24px;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
}

.text {
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    margin: 0 0 16px 0;
}

.text:first-child {
    font-size: 20px;
    line-height: 140%;
    margin-bottom: 16px;
    padding-bottom: 8px;
    border-bottom: 2px solid #C5E1A5;
    display: inline-block;
}