.backdrop {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.25);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999;
  backdrop-filter: blur(3px);
}

.wrap {
  margin-inline: auto;
  position: relative;
  width: 335px;
  max-width: 90%;
  background: #f9fcf6;
  border-radius: 16px;
  padding: 40px 20px;
  border: 1px solid rgba(0, 0, 0, 0.08);
  box-shadow:
    0 12px 28px rgba(0, 0, 0, 0.12),
    0 2px 4px rgba(0, 0, 0, 0.08);
}

.closeBtn {
  position: absolute;
  top: 20px;
  right: 16px;
  width: 24px;
  height: 24px;
  background: transparent;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.closeIcon {
  width: 24px;
  height: 24px;
}

.title {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: #000;
  margin-bottom: 48px;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.label {
  display: flex;
  flex-direction: column;
  gap: 8px;

  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: #000;
}

.inputName {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  width: 100%;
  height: 44px;
  border-radius: 12px;
  border: 1px solid rgba(0, 0, 0, 0.18);
  padding: 8px 14px;
  background: #f9fcf6;
  line-height: 1.5;
  color: #000;
}

.textarea {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  font-size: 16px;
  width: 100%;
  height: 160px;

  border-radius: 12px;
  padding: 12px 14px;

  border: 1px solid rgba(0, 0, 0, 0.18);
  background: #f9fcf6;
  line-height: 1.5;
  color: #000;
  resize: none;
}

.submitBtn {
  max-width: 100%;
  height: 42px;
  align-self: center;
  background: var(--color-deco);
  border: 1px solid var(--color-deco);
  border-radius: 100px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;

  transition: background 0.2s ease;

  border: 1px solid #c5e1a5;
  border-radius: 100px;
  padding-block: 6px;
  padding-inline: 12px;
  height: 36px;
  background: #c5e1a5;
}

.submitBtn:hover {
  background: var(--color-deco-hover);
}


@media only screen and (min-width: 768px) {
  .wrap {
    width: 704px;
    padding: 40px 64px;
    border-radius: 20px;
  }

  .title {
    font-size: 32px;
  }

  .starsWrap {
    display: flex;
    justify-content: flex-start;
  }

  .submitBtn {
    font-family: "Inter", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
  }
}