body {
  font-family: var(--font-inter), sans-serif;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  margin: 0;
  background-color: #f3f9ed;
  color: #000;
}

p,
h1,
h2,
h3,
h4,
h5 {
  font-family: var(--font-nunito-sans), sans-serif;
  margin: 0;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

button {
  font-family: inherit;
  color: currentColor;
  cursor: pointer;
  border: none;
  background-color: transparent;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  width: 100%;
  min-width: 320px;
  margin: 0 auto;
  padding: 0 20px;
}

@media (min-width: 375px) {
  .container {
    max-width: 375px;
    padding: 0 20px;
  }
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
    padding: 0 32px;
  }
}

@media (min-width: 1440px) {
  .container {
    max-width: 1440px;
    padding: 0 64px;
  }
}
:root {
  --color-scheme-1-text: #111111;
  --color-scheme-1-bg: #ffffff;

  --color-deco: #c5e1a5;
  --color-deco-hover: #b0d28c;

  --opacity-neutral-darkest-15: rgba(0, 0, 0, 0.15);

  /* ЩО ВАЖЛИВО! var(--opacity-transparent) не може бути прозорим */
  --opacity-transparent: #ffffff;

  --font-family: "Inter", sans-serif;
  --second-family: "Nunito Sans", sans-serif;

  --radius-lg: 16px;
  --radius-xl: 20px;
  --radius-round: 100px;

  --shadow-modal: 0px 4px 40px rgba(0, 0, 0, 0.1);

  --space-5: 20px;
  --space-6: 24px;
  --space-10: 40px;
  --space-16: 64px;
}
