.profilePageContainer{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  gap: 48px;
  background: #f3f9ed;

.submitButton:hover {
  border: 1px solid #4e5a42;
  background-color: #9db484;
  transform: translateY(-1px);
}

.submitButton:active {
  transform: translateY(0);
}

.submitButton:disabled {
  border: 1px solid #c5e1a5;
  background-color: #c5e1a5;
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
  opacity: 0.4;
}
  padding-block: 64px 48px;
  padding-inline: 20px;
  width: 100%;
  height: auto;
}
.title {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #000;
}
.sectionTitle{
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #000;
}
.logoutWrapper{
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.logoutButton{
  width: 335px;
  height: 36px;
  box-sizing: border-box;
  padding-block: 6px;
  padding-inline: 12px;
  border: 1px solid #5e5e5e;
  border-radius: 100px;
  color: #000;
  background: rgba(0, 0, 0, 0.05);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
}
.logoutButton:hover {
  border: 1px solid #4e5a42;
  background-color: #9db484;
  transform: translateY(-1px);
}

.logoutButton:active {
  transform: translateY(0);
}

.logoutButton:disabled {
  border: 1px solid #c5e1a5;
  background-color: #c5e1a5;
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
  opacity: 0.4;
}
@media screen and (min-width: 768px){
  .logoutButton{
    width: 156px;
  }
}
@media screen and (min-width: 1440px){
  
}