.list {
  display: grid;
  gap: 20px;
  grid-template-columns: 1fr;
}

@media (min-width: 375px) {
  .list {
    gap: 24px;
  }
}

@media (min-width: 768px) {
  .list {
    grid-template-columns: repeat(2, 1fr);
    gap: 28px;
  }
}

@media (min-width: 1440px) {
  .list {
    grid-template-columns: repeat(4, 1fr);
    gap: 32px;
  }
}
