.section {
    padding: 64px 20px;
}


.title {
    font-family: "Nunito Sans", sans-serif;
    font-weight: 400;
    font-size: 36px;
    line-height: 1.2;
    letter-spacing: -0.01em;
    color: #000;
    margin-bottom: 40px;
}



@media screen and (min-width: 768px) {}

@media screen and (min-width: 1440px) {
    .section {
        padding-top: 56px;
        padding-bottom: 112px;
    }

    .title {
        font-size: 48px;
    }

    .text {
        font-size: 20px;
        min-height: 56px;
    }
}