.kabinetContainer{
  background: #f3f9ed;
  padding: 64px 20px 48px;
  width: 375px;
 display: flex;
align-items: center;
justify-content: flex-start;
flex-direction: column;
gap: 48px;
}
.title {
  font-family: "Nunito Sans", sans-serif;
  font-weight: 400;
  font-size: 36px;
  line-height: 120%;
  letter-spacing: -0.01em;
  text-align: center;
  color: #000;
  padding-bottom:48px;
}