.sideBarDescktop {
    display: none;
}

.sideBarMobile {
    position: relative;
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 16px;
    padding: 64px 20px;
}

.dropdownButton {
    padding: 8px;
    width: 100vw;
    color: #000;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.arrowDown use,
.arrowUp use {
    fill: #000;
    transition: transform 0.3s ease;
}

.arrowUp {
    transform: rotate(180deg);
}

/* Контейнер контенту */
.dropdownContent {
    background-color: #f3f9ed;
    padding: 8px;
    max-height: 444px;
    /* Прокрутка */
    overflow-y: auto;
}

.category {
    color: inherit;
    position: relative;
}

.box {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
    padding: 0;
}

.box button {
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #000;
}

.box p {
    font-weight: 400;
    font-size: 24px;
    line-height: 1.4;
    letter-spacing: -0.01em;
}

.numberOfGoods {
    margin: 24px 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.5;
    font-family: "Inter";
}

.categoryListItem {
    padding: 8px 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
}

.category:focus::before {
    content: "";
    position: absolute;
    bottom: -1px;
    width: 100%;
    height: 2px;
    background-color: #000;
}

.category:focus {
    font-weight: 600;
}

.sizesContainer {
    padding: 20px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.sizesBox {
    display: flex;
    flex-direction: column;
}

.sizesBox label {
    display: flex;
    gap: 8px;
    padding: 8px 0;
    accent-color: #000;
}

.containerTitle {
    font-weight: 600;
    font-size: 18px;
    line-height: 1.5;
    font-family: "Inter";
}

.sliderContainer {
    width: 300px;
    position: relative;
    margin: 0 auto;
    padding: 20px 0;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.sliderValues {
    display: flex;
    justify-content: space-between;
    text-align: center;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    margin-top: 16px;
}

.priceWrapper {
    padding: 0px 20px;
}

.slider {
    position: relative;
    height: 6px;
}

.sliderTrack {
    position: absolute;
    height: 6px;
    width: 100%;
    border-radius: 3px;
    background: #ddd;
    z-index: 1;
}

.thumb {
    position: absolute;
    width: 100%;
    height: 6px;
    background: none;
    pointer-events: none;
    appearance: none;
    z-index: 2;
}


.thumb::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.1);
    background: #fff;
    cursor: pointer;
    pointer-events: all;
    border: 2px solid rgba(0, 0, 0, 0.2);
    position: relative;
    z-index: 3;
}

.genderContainer {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    padding: 20px 0;
}

.radiosBox {
    display: flex;
    flex-direction: column;
}

.label {
    font-weight: 600;
    font-size: 16px;
    margin-bottom: 12px;
    text-align: center;
}

.radio {
    display: flex;
    gap: 12px;
    cursor: pointer;
    padding: 8px 0;
}

.radio input {
    accent-color: #000;
    cursor: pointer;
    width: 16px;
    height: 16px;
}

@media screen and (min-width:375px) {
    .sideBarMobile {
        width: 335px;
    }

    .dropdownButton {
        width: 100%;
    }
}

@media screen and (min-width:768px) {
    .sideBarMobile {
        display: none;
    }

    .sideBarDescktop {
        display: block;
        width: 243px;
    }

    .sideBarDescktop h2 {
        margin-bottom: 40px;
    }


}

@media screen and (min-width:1440px) {
    .sideBarDescktop {
        width: 303px;
    }

}