.basketModalBackdrop {
  position: fixed;
  inset: 0;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  justify-content: flex-end;
  z-index: 9999;
}

.basketModal {
  display: flex;
  flex-direction: column;
  gap: 24px;
  position: relative;
  background: #f9fcf6;
  max-width: 552px;
  width: 100%;
  padding: 40px 20px;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.25);
  animation: showModal 0.3s ease;
  max-height: 100vh;
  height: auto;
  overflow: auto;
}

@keyframes showModal {
  from {
    opacity: 0;
    transform: scale(0.95);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.basketModalCloseBtnContainer {
  display: flex;
  justify-content: flex-end;
}

.basketModalCloseButton {
  top: 16px;
  right: 16px;
  border: none;
  background: transparent;
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  color: #333;
  transition: color 0.2s;
}

.basketMenuCloseBtnIcon:hover,
.basketMenuCloseBtnIcon:focus {
  fill: #9db484;
}

.basketModalTitle {
  font-family: 'Nunito Sans', sans-serif;
  font-weight: 400;
  font-size: 32px;
  letter-spacing: -0.01em;
  text-align: center;
  line-height: 1.2;
  letter-spacing: -0.01em;
  text-align: center;
  color: #000000;
}

.basketModalActions {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 16px;
  margin-top: 24px;
}

.basketModalPrimaryButton {
  background-color: #c5e1a5;
}

.basketModalSecondaryButton {
  background-color: #0000000d;
}

.basketModalPrimaryButton:hover,
.basketModalPrimaryButton:focus {
  background-color: #9db484;
  color: black;
  border: 1px solid #4e5a42;
}

.basketModalPrimaryButton:active {
  background-color: #3b4331;
  color: #ffffff;
  border: 1px solid #c5e1a5;
}

.basketModalPrimaryButton:disabled {
  background-color: #f9fcf6;
}

.basketModalSecondaryButton:hover,
.basketModalSecondaryButton:focus {
  background-color: #00000026;
  border: 1px solid #00000080;
}

.basketModalSecondaryButton:active {
  background-color: #00000080;
  color: #ffffff;
}

.basketModalSecondaryButton,
.basketModalPrimaryButton {
  width: 100%;
  border-radius: 100px;
  padding: 6px 12px;
  font-family: 'Inter', sans-serif;
  letter-spacing: 0;
  text-align: center;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-decoration: none;
  cursor: pointer;
  transition: all 0.25s ease-in-out;
}

.fadeIn {
  animation: backdropFadeIn 0.3s ease forwards;
}

.fadeOut {
  animation: backdropFadeOut 0.3s ease forwards;
}

@keyframes backdropFadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

@keyframes backdropFadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}

.slideIn {
  animation: slideInRight 0.3s ease forwards;
}

.slideOut {
  animation: slideOutRight 0.3s ease forwards;
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
  }

  to {
    transform: translateX(0%);
  }
}

@keyframes slideOutRight {
  from {
    transform: translateX(0%);
  }

  to {
    transform: translateX(100%);
  }
}

@media screen and (min-width: 768px) {
  .basketModalActions {
    display: flex;
    flex-direction: row;
    gap: 24px;
    flex-shrink: 0;
  }

  .primaryButton,
  .secondaryButton {
    width: 232px;
  }
}

@media screen and (min-width: 1440px) {

  .basketModalPrimaryButton,
  .basketModalSecondaryButton {
    width: 234.5px;
  }
}