.section {
  max-width: 100%;
  background-color: #f3f9ed;
}

.header {
align-self: stretch;
  justify-content: space-between;
  align-items: flex-end;
  display: inline-flex;
  width: 100%;
padding-bottom: 40px;
}

.title {
  font-weight: 400;
  font-size: 36px;
  line-height: 1.2;
  letter-spacing: -0.01em;
  color: #000;
  width: 200px;
}

.allButton {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  width: 108px;
  height: 36px;
  border-radius: 100px;
  /* padding: 6px 12px; */
  background-color: rgba(0, 0, 0, 0.05);
  font-size: 16px;
  line-height: 1.5;
  color: #000;
  /* text-align: center; */
}
.allButton:hover {
background-color: rgba(0, 0, 0, 0.15);
}
.allButton:active {
  background-color: rgba(0, 0, 0, 0.5);
}

.sliderWrapper {
  position: relative;
}

.swiper {
  width: 100%;
}

.controls {
  margin-top: 24px;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 16px;
  padding-bottom: 48px;
}

.pagination {
  display: flex;
  justify-content: center;
  gap: 8px;
}

.bullet {
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background-color: #cfdac7;
}

.bulletActive {
  background-color: #111;
}

.arrows {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

.arrow {
  width: 48px;
  height: 48px;
  padding: 12px;
  border-radius: 100%;
  border: 1px solid #f9fcf6;
  background-color: #c5e1a5;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  transition: background-color 150ms ease, transform 150ms ease;
}
  .arrow:hover {
  background-color: #9db484;
     transform: translateY(-1px);
    border: 1px solid #4e5a42;
}

.arrow:active {
  background-color: #3b4331;
  transform: translateY(0);
}

.icon {
  display: flex;
  align-items: center;
  height: 24px;
  width: 24px;
  stroke: #000;
  fill: none;
}


@media (min-width: 768px) {

  .title {
    width: 100%;
    font-size: 36px;
    height: auto;
  }

  .sliderWrapper {
    position: relative;
    padding-bottom: 56px; 
  }

  .controls {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 100%;
    pointer-events: none;
    z-index: 999; 
  }


  .pagination {
    position: absolute;
    padding-bottom: 48px;
    left: 50%;
    pointer-events: auto;
  }


  .arrows {
    position: absolute;
    top: 40%;
    left: -30;
    right: -30;

    display: flex;
    justify-content: space-between;
    align-items: center;
    transform: translateY(-50%);

    pointer-events: none;
  }

  .arrow {
    pointer-events: auto;
  }
}
@media (min-width: 1440px) {

  .section {
    padding: 80px 0;
  }

  .title {
    font-size: 32px;
  }

  .sliderWrapper {
    padding-bottom: 64px; 
  }

  .arrows {
    left: -30;
    right: -30;
  }

  .pagination {
    bottom: 32px;
  }
}