.star {
  width: 24px;
  height: 24px;
  stroke: var(--color-scheme-1-text);
  fill: none;
  transition: 0.2s ease;
}

.activeStar {
  fill: var(--color-scheme-1-text);
  stroke: var(--color-scheme-1-text);
}
