.content {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  gap: 24px;
}

.goodsPageTitle {
  margin-top: 16px;
}

.sidebar {
  width: 100%;
}

.listArea {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 24px;
}

.limit > .list > * {
  display: none;
}

.limit[data-count="8"] > .list > *:nth-child(-n + 8) {
  display: block;
}

.limit[data-count="12"] > .list > *:nth-child(-n + 12) {
  display: block;
}

.limit[data-count="15"] > .list > *:nth-child(-n + 15) {
  display: block;
}

.listArea .list {
  grid-template-columns: repeat(2, 1fr) !important;
}

@media (min-width: 768px) {
  .listArea .list {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}

@media (min-width: 1440px) {
  .listArea .list {
    grid-template-columns: repeat(3, 1fr) !important;
  }
}

.showMoreBtn {
  width: 158px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  gap: 8px;
  border-radius: 100px;
  padding: 4px 10px;
  background: #c5e1a5;
  color: #000;
  transition: all 0.3s ease;
}

.showMoreBtn:hover {
  background: #9db484;
  color: #000;
  cursor: pointer;
}

@media (min-width: 768px) {
  .content {
    gap: 32px;
  }
}

@media (min-width: 1440px) {
  .content {
    flex-direction: row;
  }

  .sidebar {
    flex: 0 0 240px;
  }

  .listArea {
    flex: 1;
  }
}
