.content {
  display: flex;
  flex-direction: column;
  margin-top: 16px;
  gap: 24px;
}

.sidebar {
  width: 100%;
}

.listArea {
  width: 100%;
}

@media (min-width: 768px) {
  .content {
    gap: 32px;
  }
}

@media (min-width: 1440px) {
  .content {
    flex-direction: row;
  }

  .sidebar {
    flex: 0 0 240px;
  }

  .listArea {
    flex: 1;
  }
}
