.goodsOrderContainer {
  min-width: 280px;
  width: 100%;
}

.goodsOrderList {
  display: flex;
  flex-direction: column;
  gap: 12px;
  margin-bottom: 16px;
  overflow-y: auto;
  overflow-x: hidden;
  position: relative;
  padding-right: 8px;
}

.goodsOrderList::-webkit-scrollbar {
  width: 14px;
  height: 64px;
}

.goodsOrderList::-webkit-scrollbar-track {
  border: 5px solid;
  border-radius: 8px;
  background-clip: content-box;
}

.goodsOrderList::-webkit-scrollbar-thumb {
  background: #00000040;
  border-radius: 8px;
}

.goodsOrderContainer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.goodsOrderQuantity,
.goodsOrderPrice {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  white-space: nowrap;
}

.goodsOrderRaiting {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 12px;
  line-height: 150%;
}

.goodsOrderItem {
  display: flex;
  flex-wrap: nowrap;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.goodsOrderImg {
  border-radius: 16px;
  width: 82px;
  height: 101px;
}

.goodsOrderGoodName {
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 150%;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
}

.goodsOrderGoodInfo {
  display: flex;
  flex-direction: column;
  gap: 8px;
  flex: 1;
  min-width: 0;
}

.goodsOrderStars {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.goodsOrderReviews {
  display: flex;
  justify-content: center;
  gap: 4px;
}

.goodsOrderGoodWrapper {
  display: flex;
  flex-direction: column;
  overflow: hidden;
  max-width: 150px;
}

.goodsOrderRaiting {
  display: flex;
  flex-direction: row;
  gap: 12px;
}

.goodsOrderGoodRigth {
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.goodsOrderGoodRigthActions {
  display: flex;
  flex-direction: row;
  gap: 16px;
  align-items: center;
  justify-content: space-between;
}

.goodsOrderQuantity {
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  padding: 8px;
  text-align: start;
  width: 64px;
  height: 40px;
  background: transparent;
  color: #000000;
}

.goodsOrderDeleteBtn {
  border-radius: 100px;
  width: 40px;
  height: 40px;
  background-color: #0000000d;
  display: flex;
  align-items: center;
  justify-content: center;
}

.goodsOrderDeleteBtn:hover,
.goodsOrderDeleteBtn:focus {
  background-color: #00000026;
  border: 1px solid #00000080;
}

.goodsOrderDeleteBtn:active {
  background-color: #3b4331;
  color: #ffffff;
}

.goodsOrderDeleteBtn:disabled {
  background-color: #f9fcf6;
}

.goodsOrderTotalPriceWrapper {
  border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.goodsOrderProvisionalPrice,
.goodsOrderDeliveryPrice {
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
}

.goodsOrderProvisionalPrice,
.goodsOrderProvisionalPriceValue {
  margin-top: 13.5px;
  margin-bottom: 5.5px;
}

.goodsOrderDeliveryPrice,
.goodsOrderDeliveryProvisionalPriceValue {
  margin: 4px 0;
}

.goodsOrderTotalPrice,
.goodsOrderTotalPriceValue {
  margin: 12px 0;
  font-size: 20px;
  font-family: 'Inter', sans-serif;
  font-weight: 600;
  line-height: 150%;
}

.goodsOrderTotalPriceValue,
.goodsOrderDeliveryPriceValue,
.goodsOrderProvisionalPriceValue {
  display: flex;
  justify-content: center;
  align-items: center;
}

.goodsOrderPriceItem {
  align-items: center;
  display: flex;
  justify-content: space-between;
}

@media only screen and (min-width: 768px) {
  .goodsOrderGoodInfo {
    gap: 0;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
  }

  .goodsOrderInfoWrapper {
    flex: 0 0 auto;
  }

  .goodsOrderGoodRigth,
  .goodsOrderGoodRigthActions {
    flex-direction: row;
    align-items: center;
    gap: 32px;
  }
}

@media only screen and (min-width: 1440px) {
  .goodrOrderTotalPriceWrapper {
    min-height: 503px;
  }

  .goodsOorderList {
    max-height: 452px;
  }
}