.orderListContainer {
    display: flex; 
    flex-wrap: wrap; 
    gap: 16px; 
    
}
.orderItem {
    width: 100%; 
    flex-shrink: 0; 
}
.orderItemDetails {
    display: flex;
    justify-content: space-between; 
    align-items: flex-start;
}
.orderLeft {
    flex-shrink: 0; 
    margin-right: 10px; 
}
.date{
  font: 400 14px / 1.5 "Inter", sans-serif;
color: #000;
}
.boldText{
  font: 600 18px / 1.5 "Inter", sans-serif;
color: #000;
}
.orderTotal {
    display: flex; 
    flex-direction: column; 
    align-items: flex-start; 
    text-align: left;
    font-weight: bold;
    flex-shrink: 0; 
}
.orderValueText{font: 400 16px / 1.5 "Inter", sans-serif;
color: #000;
}
.orderStatusWrapper {display: none; }

@media screen and (min-width: 768px){
    .orderListContainer {
        width: 704px;
        padding-top:16px;
    }
    
    .orderItemDetails {
        justify-content: space-between; 
    }

    .orderLeft,
    .orderTotal,
    .orderStatusWrapper {
        flex: 1;
        flex-shrink: 0;
    }
    .orderTotal {
        align-items: flex-start; 
        text-align: left;
    }
    .orderStatusWrapper {
        display: block; 
        align-self: flex-start; 
        text-align: left;
        font-weight: bold;
    }
}
@media screen and (min-width: 1440px){
  
}