
.formContainer {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
  max-width: 400px;
}

/* Заголовок форми */
.formTitle {
  font-size: 20px;
  font-weight: 600;
  text-align: center;
}
.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.formInput {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  padding: 8px;
  width: 100%; 
  height: 40px;
  box-sizing: border-box;
}

.formInputTextarea{
 height: auto;
  min-height: 180px;
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  padding: 8px;
  width: 100%;
  box-sizing: border-box;
}
.errorMessage {
  color: red;
  font-size: 12px;
  margin-top: -4px;
}
.submitButton {
  width: 335px;
  height: 36px;
  box-sizing: border-box;
  padding-block: 6px;
  padding-inline: 12px;
  background: #C5E1A5;
  border: 1px solid #5e5e5e;
  border-radius: 100px;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
}


/* Стиль для повідомлень про статус відправки */
.statusMessage {
  margin-top: 15px;
  text-align: center;
  font-size: 14px;
}
