.formContainer {
  width: 100%;
}
.form{
  display: flex;
 flex-direction: column;
  gap: 24px;
  /*width: 100%;*/
}
.formWrap{
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}
.formWrapper {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}
.formInput {
  background: white;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 16px;
  padding: 8px;
  width: 100%; 
  height: 40px;
  box-sizing: border-box;
}
.errorMessage {
  color: #9d0000;
  font-size: 12px;
  margin-top: -4px;
  font-weight: 400;
  font-size: 12px;
  line-height: 1.5;
}
.submitButton {
  width: 335px;
  height: 36px;
  box-sizing: border-box;
  padding-block: 6px;
  padding-inline: 12px;
  background: #C5E1A5;
  border: 1px solid #5e5e5e;
  border-radius: 100px;
  color: #000;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  text-align: center;
  cursor: pointer;
}
.submitButton:hover {
  border: 1px solid #4e5a42;
  background-color: #9db484;
  transform: translateY(-1px);
}

.submitButton:active {
  transform: translateY(0);
}

.submitButton:disabled {
  border: 1px solid #c5e1a5;
  background-color: #c5e1a5;
  cursor: not-allowed;
  transform: none;
  box-shadow: none;
  opacity: 0.4;
}

@media screen and (min-width: 768px){
  .formContainer{
    width: 704px;
  }
  .formWrapper{
    flex: 1;
  }
  
  .formWrap{
    flex-direction: row;
    gap: 32px;
  }
  .submitButton{
    width: 146px;
    padding-inline: 8px;
    margin-left: auto;
    margin-right: auto;
  }
}

@media screen and (min-width: 1440px){
  
}
